@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body
{
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    color: #222;
}
img
{
    pointer-events: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-touch-callout: none;
    -moz-user-select: none;
    /* touch-callout: none; */
    user-select: none;
}
.navbar
{
    padding: .8rem;
}
.navbar-nav
{
    padding-right: 20px;
}
.nav-link
{
    font-size: 1.1rem !important;
}
h3{
	height:60px;
	margin:30px 30px 30px 30px;
	padding:0px 0px 5px 0px;
    text-align: center;
	font-weight:bold;color:#877750;
	background-image:url(../img/head011_04.png);
	background-position:bottom;
	background-repeat:repeat-x;
}
table.menu_tbl 
{
    width: 100%;
    margin:0px;
    margin-bottom: 50px;
    border-top: 1px solid #CCC;
    border-left: 1px solid #CCC;
    border-spacing:0px;
}
table.menu_tbl tr th 
{
    font-size: 13px;
    border-bottom: 1px solid #CCC;
    border-right: 1px solid #CCC;
    padding: 7px;
    vertical-align: middle;
    background: #c2f8dd;
    text-align: left;
    width: 500px;
    text-align: center;
}
table.menu_tbl tr th span
{
    font-size: 17px;
}

table.menu_tbl tr td 
{
    font-size: 19px;
    border-bottom: 1px solid #CCC;
    border-right: 1px solid #CCC;
    padding: 7px;
    vertical-align: middle;
    width: 500px;
    font-weight: bold;
    text-align: center;
}
.menu_video
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 50px;
}
.menu_img
{
/*     margin-left: 100px; */
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
p
{
    /* margin-left: 50px; */
    margin-bottom: 50px;
    font-size: 20px;
    text-align: center;
}
footer
{
    background-color: #3f3f3f;
    color: #d5d5d5;
    padding-top: 1rem;
}
#page_top{
    width: 60px;
    height: 60px;
    position: fixed;
    right: 0;
    bottom: 3rem;
    opacity: 0.6;
}
#page_top a{
    width: 60px;
    height: 60px;
    text-decoration: none;
}
#page_top a::before{
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f0aa';
    font-size: 60px;
    color: #ef3f40;
}
::-webkit-scrollbar
{
    width: 12px;

}
::-webkit-scrollbar-thumb
{
    background: linear-gradient(transparent,#30ff00);
    border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover
{
  background: linear-gradient(transparent,#00c6ff);
}

/*---Media Queries --*/
@media (max-width: 992px)
{
    #inner_tbl td
    {
        font-size: 15px;
        padding: 0;
    }
}
@media (max-width: 768px)
{
    #inner_tbl td
    {
        font-size: 14px;
        padding: 0;
    }
}
@media (max-width: 576px)
{
	h3 
    {
        font-size: 20px;
    }
	p
    {
        font-size: 12px;
    }
	table.menu_tbl tr th 
    {
        font-size: 12px;
    }
    table.menu_tbl tr th span
    {
        font-size: 10px;
    }
}
